*{
	padding: 0px;
	margin: 0px;
	font-family: Century Gothic;

}
.textoV {
    padding: 40px;
    box-shadow: 0px 0px 12px #ccc;
    background-color: #fff;
    font-size: 30px
}

input.textoV{
	padding: 9px;
	font-size: 10px;
	border: solid 1px #aaa;
	width: 80%;
}

input[type="button"].textoV{
	width: 15%;
}