*{
    margin: 0px;
    padding: 0px;
}
body{
    background: black;
}
.btn {
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn.disabled {
    pointer-events: none;
}

#si {
    display: none;
}

img{
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
footer{
    margin-top: 100px;
}