*{
    margin: 0px;
    padding: 0px;
}
body{
    background: black;
}
.contenedor{
    margin: auto;
    width: 900px;
    margin-top: 300px;
    text-align: center;
}

.titulo{
    margin-bottom: 20px;
}

.opciones p{
    background: black;
    display: initial;
    padding: 12px;
    color: #ffffff;
    border-radius: 2px;
    font-weight: bold;
}

p.p1{
    position: absolute;
    top: 450px;
    left: 800px;
    width: 50px;
    background: white;
}
p.p1:hover{
    background: gray;
    cursor: pointer;
}

p.p2{
    position: absolute;
    top: 450px;
    right: 800px;
    width: 50px;
    background: white;
}
p.p2:hover{
    background: gray;
    cursor: pointer;
}
#si{
    background: #515050;
    padding: 30px;
    color: white;
    margin: 100px;
    display: none;
}
img{
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}
footer{
    margin-top: 100px;
}